**/build/
*.bak
*.db
*.sqlite
*client_secret*
*secrets*
*~
.DS_Store
.aws-sam
.aws_sam
.venv
__pycache__
coverage.xml
csci-e-11-config.toml
node_modules

# Claude Code
.claude/
.claude_cache/
CLAUDE.md
*.csv
*.json
.env
