# /etc/systemd/system/e11-register.service
# After reboot, wait 60 seconds and then re-register. This is useful if the ip address changed.
[Unit]
Description=E11 register script on reboot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ubuntu
ExecStartPre=/bin/sleep 60
ExecStart=/home/ubuntu/.local/bin/e11 register --quiet --fixip
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
