# Virtualenv
.venv/

# AWS SAM
.aws-sam/

# Python packaging
*.egg-info/
dist/
build/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
src/requirements.txt
*-cut

# Generated template files
template.yaml
template-stage.yaml
