[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/spring25/lab4

# Run gunicorn:
# --reload - automatically reloads the app when the program changes
# -w 4     - four workers
# -b 127.0.0.1:5004 - listens on localhost, port 5004
# app:app  - runs the 'app' attribute instead a module called 'app'

ExecStart=/usr/local/bin/gunicorn --reload -w 4 -b 127.0.0.1:5004 app:app

# Optional: specify environment variables if needed
# Environment="PATH=/path/to/your/venv/bin"

[Install]
WantedBy=multi-user.target
