html {
    margin-left: 20px;
    margin-right: 20px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
#image-popup {
    cursor: pointer;
}

/* All cells wrap */
.tabulator .tabulator-row .tabulator-cell {
    white-space: normal;        /* allow wrapping */
    overflow-wrap: break-word;  /* break long words */
}
