{% extends 'base.html' %}
{% block body %}
<h2> Dashboard </h2>
<h3>User Info</h3>
<table class='pure-table'>
  <thead>
  </thead>
  <tbody>
    <tr><th>Name</th><td>{{user.name}}</td></tr>
    <tr><th>Email</th><td>{{user.email}}</td></tr>
    <tr><th>course_key</th><td>{{user.course_key}}</td></tr>
  </tbody>
</table>
<h3>User Log</h3>
<h3>Authenticated Sessions</h3>
<h4>This session</h4>
<pre>
{{ses_dump}}
</pre>
<h4>Active Sessions Table</h4>

<table class='pure-table'>
  <thead>
    <tr><th>Session #</th><th>IP Address</th><th>Created</th><th>Expires</th></tr>
  </thead>
  <tbody>
    {% for session in sessions %}
    <tr>
      <th>{{ loop.index }}</th><td>{{session.client_ip}}</td>
      <td>{{session.session_created | eastern}}</td>
      <td>{{session.session_expire |eastern}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><i>(All times in eastern time.)</i></p>


{% endblock %}
