name: CI for e11-cli

on:
  push:
    branches:
      - main
      - dev
  pull_request:

# Cancel in-progress runs when a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install pipx and Poetry
        run: |
          sudo apt -y update
          sudo apt -y install python3-venv pipx
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pipx install poetry
          poetry --version

      - name: e11 command tests with coverage
        run: |
          make lint-all
