# lab5.service:
# Similar to the lab4 service file, but with different port numbers and file names

[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/spring25/lab5

# Run gunicorn:
# --reload - automatically reloads the app when the program changes
# -w 2     - two workers
# -b 127.0.0.1:8007 - listens on localhost, port 8007
# app:app  - runs the 'app' attribute instead a module called 'app'

ExecStart=/home/ec2-user/spring25/lab5/venv/bin/gunicorn \
    --reload -w 2 -b 127.0.0.1:8007 \
    --access-logfile=/home/ec2-user/spring25/lab5/logs/access.log \
    --error-logfile=/home/ec2-user/spring25/lab5/logs/error.log \
    app:app

# Optional: specify environment variables if needed
# Environment="PATH=/path/to/your/venv/bin"
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
